{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Reset Password</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-box">
            <div class="login-container">
                <div class="top">
                    <header>Reset Password</header>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-box">
                        <input type="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <input type="text" name="otp" placeholder="Enter OTP" required>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="New password" required>
                    </div>
                    <div class="input-box">
                        <input type="password" name="confirm_password" placeholder="Confirm password" required>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Reset Password" class="submit-button">
                    </div>
                </form>
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
