{% load static %}
<footer class="page-footer bg-primary">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
  <div class="container py-5">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" style="font-weight: 800;">BLOGS</h5>
        <p class="grey-text text-lighten-4" style="max-width: 400px; font-size: 0.9rem; line-height: 1.8;">Welcome to
          our blogsite! We're passionate about sharing knowledge, insights, and experiences on topics ranging from
          technology and science to lifestyle and culture.</p>
        <div class="socialicons" style="margin-top: 25px;">
          <a href="#!" style="color:white; margin-right: 15px; font-size: 1.2rem;"><i
              class="fa-brands fa-facebook"></i></a>
          <a href="#!" style="color:white; margin-right: 15px; font-size: 1.2rem;"><i
              class="fa-brands fa-instagram"></i></a>
          <a href="#!" style="color:white; margin-right: 15px; font-size: 1.2rem;"><i
              class="fa-brands fa-twitter"></i></a>
          <a href="#!" style="color:white; margin-right: 15px; font-size: 1.2rem;"><i
              class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text" style="font-weight: 800;">Location</h5>
        <div class="location-info grey-text text-lighten-4" style="font-size: 0.9rem;">
          <p><i class="material-icons tiny">place</i> Infocity Road, Bhubaneswar, Odisha, India</p>
          <p><i class="material-icons tiny">email</i> pritipadmapadhi3@gmail.com</p>
          <p><i class="material-icons tiny">phone</i> +91 9337594103</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2025Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>