<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  {% for cat in cats %}

  <li><a href="/category/{{ cat.url }}">{{ cat.title }}</a></li>

  {% endfor %}

  </ul>
  <nav class="bg-primary z-depth-0">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo left">BLOGS</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'add_post' %}" style="font-weight: 700; color: #fbbf24 !important;"><i class="material-icons left">add_circle</i>CREATE POST</a></li>
            {% if request.user.is_staff or request.user.is_superuser %}
            <li><a href="/admin">ADMIN</a></li>
            {% endif %}
          {% endif %}
          <li><a href="/contact">CONTACT</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">CATEGORIES<i class="material-icons right">arrow_drop_down</i></a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="btn red z-depth-0" style="margin-left: 15px; border-radius: 8px;">LOGOUT</a></li>
          {% else %}
            <li><a href="{% url 'login' %}" class="btn blue z-depth-0" style="margin-left: 15px; border-radius: 8px;">LOGIN</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  