{% extends 'base.html' %}{% load static %}

{% block title %} Welcome to BLOGS {% endblock %}

{% block content %}
<div class="banner">
    <video autoplay loop muted plays-inline>
        <source src="{% static 'images/home_blog.mp4' %}" type="video/mp4">
    </video>
    <!-- <div class="navbar">
        <img class="logo" src="logo.png">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </div> -->
    <div class="content">
        <h1>EXPLORE THE WORLD</h1>
        <div class="search-container">
            <form action="{% url 'search' %}" method="get" class="search-wrapper">
                <input type="text" name="q" placeholder="Search articles, categories..." required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container-custom">

    <!-- Set up your HTML -->
    <div class="owl-carousel">

        {% for cat in cats %}

        <div class="card item" style="margin-left:5px;">

            <div class="img-container">
                {% if cat.image %}
                <img src="{{ cat.image.url }}" class="responsive-img"
                    style="height: 220px; width:100%; object-fit:cover;" alt="">
                {% else %}
                {% if cat.title == 'Travel' %}
                <img src="{% static 'images/pic-1.jpg' %}" class="responsive-img"
                    style="height: 220px; width:100%; object-fit:cover;">
                {% elif cat.title == 'Food' %}
                <img src="{% static 'images/pic-6.jpg' %}" class="responsive-img"
                    style="height: 220px; width:100%; object-fit:cover;">
                {% elif cat.title == 'Photography' %}
                <img src="{% static 'images/p1.jpg' %}" class="responsive-img"
                    style="height: 220px; width:100%; object-fit:cover;">
                {% elif cat.title == 'Fitness' %}
                <img src="{% static 'images/blog-1.jpg' %}" class="responsive-img"
                    style="height: 220px; width:100%; object-fit:cover;">
                {% else %}
                <img src="{% static 'images/banner.jpg' %}" class="responsive-img"
                    style="height: 220px; width:100%; object-fit:cover;">
                {% endif %}
                {% endif %}
            </div>
            <div class="card-content">

                <div class="card-title">
                    {{ cat.title }}
                </div>

                <p class="truncate">{{ cat.description }}</p>
                <div class="center-align mt20">
                    {% if cat.title == 'Travel' %}
                    <a href="{% url 'travel' %}" class="btn bg-primary">VIEW</a>
                    {% elif cat.title == 'Food' %}
                    <a href="{% url 'food' %}" class="btn bg-primary">VIEW</a>
                    {% elif cat.title == 'Photography' %}
                    <a href="{% url 'photography' %}" class="btn bg-primary">VIEW</a>
                    {% elif cat.title == 'Fitness' %}
                    <a href="{% url 'fitness' %}" class="btn bg-primary">VIEW</a>
                    {% else %}
                    <a href="/category/{{ cat.url }}" class="btn bg-primary">VIEW</a>
                    {% endif %}
                </div>
            </div>

        </div>

        {% endfor %}

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="col s12 ">

            {% for p in posts %}

            <div class="row">

                <div class="col s12 m8">

                    {{p.content|truncatewords:50|safe}}
                    <div class="mt20">
                        <a href="/blog/{{p.url}}" class="btn bg-primary">Read More..</a>
                    </div>
                </div>

                <div class="col s12 m4">
                    <img src="{{ p.image.url }}" class="responsive-img" style="margin-top:50px;">

                </div>

            </div>

            {% endfor %}

        </div>

    </div>

</div>
{% endblock %}