{% load static %}
<footer class="page-footer bg-primary">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Blogs</h5>
        <p class="grey-text text-lighten-4">Welcome to our blogsite! We're passionate about sharing knowledge, insights, and experiences on topics ranging from technology and science to lifestyle and culture.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Location</h5>
          <p>Infocity Road</p>
          <p>Bhubaneswar,Odisha,India</p>
          <p class="email-id">pritipadmapadhi3@gmail.com</p>
          <p>+91 9876543210<p>

      </div>
      <div class="row">
        <div class="socialicons">
          <a href=""><i class="fa-brands fa-facebook" ></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
        </div>
      </div>

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>